{% extends 'base.html.twig' %}

{% block title %}BFM Application de comptabilité en intranet{% endblock %}
{% block page_title %}
    Section Admin
{% endblock %}
{% block page_subtitle %}
    {# Liste des demandes en attente de validation #}
{% endblock %}
{% block page_options %}
    {{ include('detail_transaction_compte/_delete_form.html.twig') }}
{% endblock %}


{% block page_main_content %}
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Information Detail Transaction Compte </h4>
                </div>
                <div class="card-body col-12 px-md-5 d-flex flex-row">
                    <div class="col-1">
                        <button style="border: none;background-color: transparent; text-align: start">
                            <a href="{{ path('app_detail_transaction_compte_index') }}">
                                {{ ux_icon('heroicons:arrow-left-circle', {height: '60%', width:'75%',color:'#2a2f5b'}) }}
                            </a>
                        </button>
                    </div>
                    <div class="col px-3 d-flex flex-column gap-3">
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg"> Transaction </label>
                            <div class="col form-control">
                                {{ detail_transaction_compte.TransactionType.TrsCode }}
                                - {{ detail_transaction_compte.TransactionType.TrsLibelle }}
                            </div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg"> Plan de compte </label>
                            <div class="col form-control">
                                {{ detail_transaction_compte.PlanCompte.CptNumero }}
                                - {{ detail_transaction_compte.PlanCompte.CptLibelle }}
                            </div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg"> Type d'oppérations </label>
                            <div class="col form-control">
                                {{ detail_transaction_compte.isTrsDebit ? 'Débit' : 'Crédit' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#
    <a href="{{ path('app_detail_transaction_compte_edit', {'id': detail_transaction_compte.id}) }}">edit</a>
    #}


{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
