{% extends 'base.html.twig' %}

{% block title %}BFM Application de comptabilité en intranet{% endblock %}
{% block page_title %}
    Section SG
{% endblock %}
{% block page_subtitle %}
    <label for="commentaire">
        Veuillez préciser le motif de refus de la demande.
    </label>
{% endblock %}

{% block page_main_content %}
    <div class="row">
        <div class="col-md-12">
            <form id="formulaire"
                  action="{{ path('refuser_demande', {'id': demande_type.Id}) }}"
                  data-cancel="{{ path('SG.liste_demande_en_attente', {'id': demande_type.Id}) }}"
            >
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">REFUSER LA DEMANDE</h4>
                    </div>
                    <div class="card-body d-flex flex-column gap-4">
                        <div class="col-12 d-flex flex-row">
                            <label class="col-3 form-control-lg"> Rérérence: </label>
                            <div class="col form-control"> {{ demande_type.RefDemande }} </div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label for="commentaire" class="col-3 form-control-lg">
                                Motif du refus de la demande:
                            </label>
                            <textarea id="commentaire" class="col form-control" name="commentaire"
                                      placeholder="Remarque"></textarea>
                        </div>
                        <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
                            <button id="annuler" type="button" class="btn btn-danger btn-sm">Annuler</button>
                            <button id="valider" type="submit" class="btn btn-success btn-sm">Refuser</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{ include('include/_message_modal.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/scr/sg/refuser_demande.js") }}"></script>
{% endblock %}