<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="light_logo">
            <a href="index.html" class="logo">
                <img
                        src="{{ asset("img/app_logo.png") }}"
                        alt="navbar brand"
                        class="navbar-brand"
                        height="70" width="80"
                />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item active">
                    <a
                            data-bs-toggle="collapse"
                            href="#dashboard"
                            class="collapsed"
                            aria-expanded="false"
                    >
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="dashboard">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="../demo1/index.html">
                                    <span class="sub-item">Dashboard 1</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                    <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Navigation</h4>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#addUser">
                        <i class="fas fa-th-list"></i>
                        <p>Gestion utilisateur</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="addUser">
                    <ul class="nav nav-collapse">
                        <li>
                        <a href="{{ path("admin_users") }}">
                            <span class="sub-item">Lister les utilisateurs</span>
                        </a>
                        </li>
                        <li>
                        <a href="{{ path("admin_add_user") }}">
                            <span class="sub-item">Ajouter un utilisateur</span>
                        </a>
                        </li>
                        <li>
                        <a href="{{ path("app_groupe_utilisateur_index") }}">
                            <span class="sub-item">Gérer les groupes</span>
                        </a>
                        </li>
                    </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#planComptable">
                        <i class="fas fa-th-list"></i>
                        <p>Gestion plan comptable</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="planComptable">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{{ path('app_plan_compte') }}">
                                    <span class="sub-item">Plan de Compte</span>
                                </a>
                                <a href="{{ path('app_plan_compte.import') }}">
                                    <span class="sub-item">Importer les données</span>
                                </a>
                                <a href="{{ path('app_plan_compte.add') }}">
                                    <span class="sub-item">Insérer manuellement</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#demande">
                        <i class="fas fa-th-list"></i>
                        <p>Gestion demande</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="demande">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{{ path('demandeur.liste_demande') }}">
                                    <span class="sub-item">Mes demandes : DM</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('demandeur.nouveau_demande') }}">
                                    <span class="sub-item">Effectuer une demande</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('SG.liste_demande_en_attente') }}">
                                    <span class="sub-item">Liste des demandes : SG</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('tresorier.liste_demande_en_attente') }}">
                                    <span class="sub-item">Déblockage de fond</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#piece">
                        <i class="fas fa-th-list"></i>
                        <p>Gestion de pièce jointe</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="piece">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{{ path('dm_piece.liste_demande') }}">
                                    <span class="sub-item">Ajout de pièce justificative</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#comptable">
                        <i class="fas fa-th-list"></i>
                        <p>Rôle comptable</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="comptable">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{{ path('comptable.graphe') }}">
                                    <span class="sub-item">Tableau de bord</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('comptable.form_depense_directe') }}">
                                    <span class="sub-item">Ajout dépense directe</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('comptable.suivi_comptabilisation') }}">
                                    <span class="sub-item">Suivi de comptabilisation</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>