<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="light_logo">
            <a href="index.html" class="logo">
                <img
                        src="{{ asset("img/app_logo.png") }}"
                        alt="navbar brand"
                        class="navbar-brand"
                        height="70" width="80"
                />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item active">
                    <a
                            data-bs-toggle="collapse"
                            href="#dashboard"
                            class="collapsed"
                            aria-expanded="false"
                    >
                        <i class="fas fa-home"></i>
                        <p>Bienvenue</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="dashboard">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="../demo1/index.html">
                                    <span class="sub-item">Dashboard 1</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% if is_granted(get_role('admin')) %}
                    {{ include('pages/option/_admin_sidebar.html.twig') }}
                    {{ include('pages/option/_demandeur_sidebar.html.twig') }}
                    {{ include('pages/option/_sg_sidebar.html.twig') }}
                    {{ include('pages/option/_tresorier_sidebar.html.twig') }}
                    {{ include('pages/option/_comptable_sidebar.html.twig') }}

                {% elseif is_granted(get_role('demandeur')) %}
                    {{ include('pages/option/_demandeur_sidebar.html.twig') }}

                {% elseif is_granted(get_role('tresorier')) %}
                    {{ include('pages/option/_tresorier_sidebar.html.twig') }}

                {% elseif is_granted(get_role('sg')) %}
                    {{ include('pages/option/_sg_sidebar.html.twig') }}

                {% elseif is_granted(get_role('comptable')) %}
                    {{ include('pages/option/_comptable_sidebar.html.twig') }}
                    
                {% endif %}
            </ul>
        </div>
    </div>
</div>