{% extends 'base.html.twig' %}

{% block title %}Gestion des rôles: listes{% endblock %}

{# {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/gestion_utilisateur.css') }}">
{% endblock %} #}

{% block page_title %}
    Trésorier
{% endblock %}
{% block page_subtitle %}
    {#
    Chaque budget est lié à un exercice et plan de compte. Veuillez bien vérifier.
    #}
{% endblock %}

{% block page_main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Ajout de budget</h4>
                </div>

                <form id="formulaire" action="{{ path('tresorier.ajout_budget') }}" method="post"
                      data-cancel="{{ path('tresorier.liste_demande_en_attente') }}">
                    <div class="card-body col-12 d-flex flex-column gap-2">
                        <div class="form-group">
                            <label for="exercice">Exercice</label>
                            <select class="form-select" id="exercice" name="exercice">
                                {% for exercice in exercices %}
                                    <option value="{{ exercice.id }}" > {{ exercice }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="plan_cpt">Plan de compte</label>
                            <select class="form-select" id="plan_cpt" name="plan_cpt">
                                {% for plan_compte in plan_comptes %}
                                    <option value="{{ plan_compte.id }}">{{ plan_compte }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="montant">Montant</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Ar</span>
                                <input
                                        id="montant"
                                        name="montant"
                                        type="number"
                                        step="0.01"
                                        class="form-control"
                                        aria-label="montant"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer py-3 px-5 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="annuler" name="annuler" value="annuler" class="btn btn-danger">
                            ANNULER
                        </button>
                        <button id="valider" name="valider" value="valider" class="btn btn-success">
                            VALIDER
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">Message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Message will be inserted here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pour mise à jour du montant -->
    <div class="modal fade" id="updateAmountModal" tabindex="-1" aria-labelledby="updateAmountModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form id="modifier" action="{{ path('tresorier.modifier_budget') }}" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateAmountModalLabel">Voulez vous mettre à jour le montant?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body col-12">
                        <!-- Message de mise à jour du montant sera inséré ici -->
                        <div class="col-10 d-flex flex-row">
                            <label class="col"> Exercice: </label>
                            <div class="col-6 form-control-sm" id="new-exercice"></div>
                            <input hidden="hidden" id="new-exercice-input" name="new-exercice" class=" form-control-sm">
                        </div>
                        <div class="col-10 d-flex flex-row">
                            <label class="col"> Plan de compte: </label>
                            <div class="col-6 form-control-sm" id="new-cpt"></div>
                            <input hidden="hidden" id="new-cpt-input" name="new-cpt" class="col-6 form-control-sm">
                        </div>
                        <div class="col-10 d-flex flex-row">
                            <label class="col"> Ancien montant: </label>
                            <div class="col-6 form-control-sm" id="old-montant"></div>
                            <input hidden="hidden" id="old-montant-input" name="old-montant"
                                   class="col-6 form-control-sm">
                        </div>
                        <div class="col-10 d-flex flex-row">
                            <label class="col">Nouveau montant:</label>
                            <div class="col-6 form-control-sm" id="new-montant"></div>
                            <input hidden="hidden" id="new-montant-input" name="new-montant"
                                   class="col-6 form-control-sm">
                        </div>
                        <input hidden="hidden" id="detailbudget-input" name="detailbudget"
                               class="col-6 form-control-sm">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="non" name="non" data-bs-dismiss="modal" class="btn btn-danger">NON
                        </button>
                        <button type="button" id="oui" name="oui" class="btn btn-success">OUI</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/scr/tresorier/ajout_budget.js") }}"></script>
{% endblock %}