{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}
{% block page_title %}
    Trésorier
{% endblock %}
{% block page_subtitle %}
    {# Liste des demandes en attente de validation #}
{% endblock %}

{% block page_main_content %}
    <div class="row">
        <div class="col-md-12">
            <form id="formulaire" action="{{ path('tresorier.remettre_fond', {'id': demande_type.Id}) }}"
                  data-cancel="{{ path('tresorier.liste_demande_en_attente') }}">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">REMETTRE LE FOND?</h4>
                        <div class="text-end">
                            <h3>
                                Montant restant : {{ montant|number_format(2, '.', ' ') }} Ar
                            </h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col px-3 d-flex flex-column gap-3">
                            <div class="col-12 d-flex flex-row">
                                <label class="col-3 form-control-lg"> Rérérence: </label>
                                <div class="col form-control">
                                    {{ demande_type.RefDemande }}
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-row">
                                <label class="col-3 form-control-lg"> Remettant: </label>
                                <div class="col form-control">
                                    {{ demande_type.utilisateur.UserMatricule }}
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-row">
                                <label class="col-3 form-control-lg"> Type de demande: </label>
                                <div class="col form-control">
                                    {{ demande_type.Demande.Libelle }}
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-row">
                                <label class="col-3 form-control-lg"> Motif de la demande: </label>
                                <div class="col form-control">
                                    {{ demande_type.PlanCompte.CptNumero }} - {{ demande_type.PlanCompte.CptLibelle }}
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-row">
                                <label class="col-3 form-control-lg"> Montant de la demande: </label>
                                <div class="col form-control">
                                    {{ demande_type.DmMontant|number_format(2, '.', ' ') }} Ar
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer py-3 px-5 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="annuler" type="button" class="btn btn-danger btn">Annuler</button>
                        <button id="valider" type="submit" class="btn btn-success btn">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/scr/tresorier/deblocker_fond.js") }}"></script>
{% endblock %}