{% extends 'base.html.twig' %}

{% block title %}Gestion des rôles: listes{% endblock %}

{# {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/gestion_utilisateur.css') }}">
{% endblock %} #}

{% block page_title %}
    Trésorier
{% endblock %}
{% block page_subtitle %}
    {# Liste des demandes en attente de validation #}
{% endblock %}



{% block page_main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Liste des demandes en attente de déblocage de fond</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-striped table-hover">
                            <thead>
                            <tr class="col-12">
                                <th class="col-3">Validation demande</th>
                                <th class="col-1">Référence</th>
                                <th class="col-3">Type de demande</th>
                                <th class="col-2 text-center px-3">Montant</th>
                                <th class="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for demande_type in demande_types %}
                                <tr class="col-12">
                                    <td class="col-2">{{ demande_type.DmDate|date('d/m/y')|trans({}, 'fr') }}</td>
                                    <td class="col-1">{{ demande_type.RefDemande }}</td>
                                    <td class="col-2">{{ demande_type.Demande.Libelle }}</td>
                                    <td class="text-end col-2">
                                        <div>
                                            {{ demande_type.DmMontant|number_format(0, '.', ' ') }} Ar
                                        </div>
                                    </td>
                                    <td class="col">
                                        <div class="col-12 d-flex gap-2">
                                            <div class="col">
                                                <a href="{{ path('tresorier.valider_fond', {'id': demande_type.Id}) }}"
                                                   class="btn btn-label-success btn-sm">Débolcker</a>
                                            </div>
                                            <div class="col-4">
                                                <button style="width: 100%;height: 100%;border: none;background-color: transparent">
                                                    <a href="{{ path('tresorier.detail_demande_en_attente', {'id': demande_type.Id}) }}">
                                                        {{ ux_icon('heroicons:information-circle', {height: '70%', width:'70%',color:'#2a2f5b'}) }}

                                                    </a>
                                                </button>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">aucun donnée inserer</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    <!-- Datatables -->
    {{ parent() }}
    <script src="{{ asset("js/plugin/datatables/datatables.min.js") }}"></script>
{% endblock %}