{% extends 'base.html.twig' %}

{% block title %}BFM Application de comptabilité en intranet{% endblock %}

{% block page_title %}
    Section Trésorier
{% endblock %}
{% block page_subtitle %}
    Les opérations d'approvisionnements effectués au cours cet exercice.
{% endblock %}

{% block page_options %}
    <a href="{{ path('tresorier.form_approvisionnement') }}" class="btn btn-secondary">Ajout d'approvisionnement</a>
{% endblock %}

{% block page_main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Les approvisionnements réalisés</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-striped table-hover">
                            <thead>
                            <tr class="col-12">
                                <th class="col-2">Validation de l'opération</th>
                                <th class="col-1">Référence</th>
                                <th class="col-3">Type de demande</th>
                                <th class="col-2 text-end px-3">Montant</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for demande_type in liste_approvisio %}
                                <tr class="col-12">
                                    <td class="col-2">{{ demande_type.DmDate|date('d/m/Y')|trans({}, 'fr') }}</td>
                                    <td class="col-1">{{ demande_type.RefDemande }}</td>
                                    <td class="col-3">{{ demande_type.Demande.Libelle }}</td>
                                    <td class="text-end col-2">
                                        <div>
                                            {{ demande_type.DmMontant|number_format(2, '.', ' ') }} Ar
                                        </div>
                                    </td>

                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Aucune donnée insérée</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
