<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ asset('img/app_ico.ico') }}" type="image/x-icon" />
    <title>Etat financier du comité d'entreprise</title>
    {% block stylesheets %}
        <link rel="stylesheet" href={{ asset("css/all.min.css") }} /><!-- Fonts and icons -->
        <link rel="stylesheet" href={{ asset("css/bootstrap.min.css") }} /><!-- CSS Files -->
        <link rel="stylesheet" href={{ asset("css/kaiadmin.min.css") }} />
        <link rel="stylesheet" href={{ asset("css/base_perso.css") }} /> 
    {% endblock %}
    {% block javascripts %}
        {# CORE Js Files #}
        <script src="{{ asset("js/core/jquery-3.7.1.min.js") }}"></script>
        <script src="{{ asset("js/core/popper.min.js") }}"></script>
        <script src="{{ asset("js/core/bootstrap.min.js") }}"></script>
        <script src="{{ asset('js/html2pdf.bundle.min.js') }}"></script>
    {% endblock %}
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script> #}
    <style>
        /* Styles pour l'impression PDF 
        body { margin: 0; padding: 20px; }
        */
        @media print {
            table { page-break-inside: auto; }
            tr { page-break-inside: avoid; page-break-after: auto; }
            thead { display: table-header-group; }
            tfoot { display: table-footer-group; }
        }
        /* Style pour le numéro de page */
        .page-number:before {
            content: counter(page);
        }
        @page {
            @bottom-right {
                content: counter(page);
            }
        }
    </style>
</head>
<body>
<div class="wrapper m-2">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title title_font fw-bold mb-3">Apperçu d'etat financier</h3>
                    <button id="generatePdfElement" class="btn btn-dark mb-4 btn-rounded">Imprimer en Pdf</button>
                    <a href="{{ path('tresorier.liste_demande_en_attente') }}" class="btn btn-label-secondary mb-4 btn-rounded">Retour</a>
                </div>
            </div>
        </div>

        <div class="row pdf_back" id="contentTb">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center title_pdf">
                        <h2 class="title_font fw-bold mb-3">Etat financier du 2024</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">

                    <div class="card-header text-center">
                        <h2 class="fw-bold">Decaissement</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table_perso">
                                <tbody>
                                    <tr class="fw-bold">
                                        <td>60</td>
                                        <td></td>
                                        <td>Accessoire</td>
                                        <td>122000.00</td>
                                    </tr>
                                    <tr class="fw-bold">
                                        <td>61</td>
                                        <td></td>
                                        <td>Social Primes Diverses</td>
                                        <td>3506000.00</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>611</td>
                                        <td>Social Primes Diverses</td>
                                        <td>1500000.00</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>612</td>
                                        <td>Social Primes de réussites</td>
                                        <td>700000.00</td>
                                    </tr>
                                    {# TOTAL #}
                                    <tr style="display:none" id="total_pdf" class="fw-bold">
                                        <td class="total_journal_pdf">TOTAL</td>
                                        <td></td>
                                        <td></td>
                                        <td class="total_journal_pdf">1000.0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">

                    <div class="card-header text-center">
                        <h2 class="fw-bold">Encaissement</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table_perso">
                                <tbody>
                                    <tr class="fw-bold">
                                        <td>701</td>
                                        <td></td>
                                        <td>Trésorier debut période</td>
                                        <td>122000.00</td>
                                    </tr>
                                    <tr class="fw-bold">
                                        <td>702</td>
                                        <td></td>
                                        <td>Virement DRH sur emprunts</td>
                                        <td>99531.00</td>
                                    </tr>
                                    {# TOTAL #}
                                    <tr style="display:none" id="total_pdf" class="fw-bold">
                                        <td class="total_journal_pdf">TOTAL</td>
                                        <td></td>
                                        <td></td>
                                        <td class="total_journal_pdf">1000.0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
    
</body>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const generatePdfButton = document.getElementById('generatePdfElement');
    generatePdfButton.addEventListener('click', () => {
        const contentTb = document.getElementById('contentTb');
        const options = {
            margin: [15, 10, 25, 10], // Augmentation des marges supérieure et inférieure
            filename: 'testPDF.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'landscape' },
            pagebreak: { mode: ['avoid-all', 'css', 'legacy'] },
            header: function(currentPage, pageCount) {
                return {
                    table: { widths: ['*'], body: [[{ text: 'En-tête du tableau', style: 'tableHeader', alignment: 'center' }]] },
                    margin: [30, 10, 30, 0]
                };
            },
            footer: function(currentPage, pageCount) {
                return {
                    text: 'Page ' + currentPage.toString() + ' sur ' + pageCount.toString(),
                    alignment: 'right',
                    margin: [0, 0, 10, 10]
                };
            }
        };

        html2pdf().set(options).from(contentTb).save();
    });
});
</script>
</html>