{% extends 'base.html.twig' %}

{% block title %}BFM Application de comptabilité en intranet{% endblock %}

{% block page_title %}
    Section Admin
{% endblock %}

{% block page_subtitle %}
    {#  #}
{% endblock %}
{% block page_options %}
    <a href="{{ path('app_banque_new') }}" class="btn btn-secondary">Ajouter</a>
{% endblock %}

{% block page_main_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Liste des banques disponibles</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-striped table-hover">
                            <thead>
                            <tr id="cols">
                                <th id="isCol" scope="col">Id</th>
                                <th id="isCol" scope="col">Nom de la banque</th>
                                {#
                                <th id="isCol" scope="col"></th>

                                #}
                            </tr>
                            </thead>
                            <tbody id="bodyList">
                            {% for banque in banques %}
                                <tr>
                                    <td>{{ banque.id }}</td>
                                    <td>{{ banque.nomBanque }}</td>
                                    {# Pour modifier et consulter les détails d'une banque
                                    <td class="d-flex flex-row gap-md-3">
                                        <a href="{{ path('app_banque_show', {'id': banque.id}) }}">{{ ux_icon('bi:info-circle',{height : "15px"}) }}</a>
                                        <a href="{{ path('app_banque_edit', {'id': banque.id}) }}">{{ ux_icon('flowbite:edit-outline',{height : "20px"}) }}</a>
                                    </td>
                                    #}
                                    
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Données non accessible</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {# <a href="{{ path('app_banque_new') }}">Create new</a> #}

{% endblock %}
