{% extends 'base.html.twig' %}

{% block title %}BFM Application de comptabilité en intranet{% endblock %}
{% block page_title %}Section Demandeur{% endblock %}
{% block page_subtitle %}Les décaissement de fonds effetués{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/xhr.js") }}"></script>
{% endblock %}


{# Bouton d'action #}
{% block page_options %}
    <a href="{{ path("demandeur.nouveau_demande") }}" class="btn btn-secondary">Nouvelle demande</a>
{% endblock %}

{% block page_main_content %}
    <div class="row">
        
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Mes demandes</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-hover">
                            {# Column #}
                            <thead>
                                <tr id="cols">
                                    <th id="isCol" scope="col">Date de demande</th>
                                    <th id="isCol" scope="col">Référence</th>
                                    <th id="isCol" scope="col">Motif</th>
                                    <th id="isCol" scope="col">Montant</th>
                                    <th id="isCol" scope="col">Etat</th>
                                    <th id="isCol" scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Date de demande</th>
                                    <th>Référence</th>
                                    <th>Motif</th>
                                    <th>Montant</th>
                                    <th>Etat</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            {# Data #}
                            <tbody id="bodyList">
                            {% for demande_type in logs_demandes %}
                                <tr class="col-12">
                                    <td class="col-2">{{ demande_type.DmDate|date('d/m/y')|trans({}, 'fr') }}</td>
                                    <td class="col-1">{{ demande_type.RefDemande }}</td>
                                    <td class="col-2">{{ demande_type.demande.libelle }}</td>
                                    <td class="text-end col-2">
                                        <div>
                                            {{ demande_type.DmMontant|number_format(2, '.', ' ') }} Ar
                                        </div>
                                    </td>
                                    <td>{{ demande_type.getEtatDemandeObj().getEtatLibelle() }}</td>
                                    <td class="col-4">
                                        {% if demande_type.isAttenteModification() == true %}
                                        <div class="col-12 d-flex gap-5">
                                            <div class="col-8 text-center">
                                                <a class="btn btn-label-warning btn-sm">Modifier</a>
                                        </div>
                                        {% endif %}
                                            <div class="col-3">
                                                <button style="width: 100%;height: 100%;border: none;background-color: transparent">
                                                    <a href="{{ path('demandeur.detail_demande_en_attente', {'id': demande_type.Id}) }}">
                                                        {{ ux_icon('heroicons:information-circle', {height: '70%', width:'70%',color:'#2a2f5b'}) }}
                                                    </a>
                                                </button>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">aucun donnée inserer</td>
                                </tr>
                            {% endfor %}                           
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>    
{% endblock %}
