{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}
{% block page_title %}
    SG
{% endblock %}
{% block page_subtitle %}
    Détail demande de décaissemnt de fonds
{% endblock %}

{% block page_main_content %}
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">À propos de la demande</h4>
                </div>
                <div class="card-body col-12 px-md-5 d-flex flex-row">
                    <div class="col-1">
                        <button style="border: none; background-color: transparent; text-align: start">
                            <a href="{{ path('demandeur.liste_demande') }}">
                                {{ ux_icon('heroicons:arrow-left-circle', {height: '60%', width:'75%', color:'#2a2f5b'}) }}
                            </a>
                        </button>
                    </div>
                    <div class="col py-2 px-1 d-flex flex-column gap-3">
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg">Référence:</label>
                            <div class="col form-control">{{ demande_type.RefDemande }}</div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg">Remettant:</label>
                            <div class="col form-control" >{{ demande_type.utilisateur.UserMatricule }}</div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg">Date de la demande:</label>
                            <div class="col form-control">{{ demande_type.DmDate|date('d/m/y')|trans({}, 'fr') }}</div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg">Type de demande:</label>
                            <div class="col form-control">{{ demande_type.demande.libelle }}</div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg">Motif de la demande:</label>
                            <div class="col form-control">{{ demande_type.PlanCompte.CptNumero }}
                                - {{ demande_type.PlanCompte.CptLibelle }}</div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg">Montant de la demande:</label>
                            <div class="col form-control">{{ demande_type.DmMontant|number_format(2, '.', ' ') }} Ar</div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg">Type de paiement:</label>
                            <div class="col form-control">{{ demande_type.DmModePaiement }}</div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg">Personne concernée:</label>
                            <div class="col form-control">{{ demande_type.EntityCode.CptLibelle }}</div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <!-- <div class="col-3">Les pièces jointes:</div> -->
                            {% if images|length  != 0 %}
                            <div class="col">
                                <!-- Bouton pour ouvrir le modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#fileModal">
                                    Voir les pièces jointes
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if demande_type.isAttenteModification() == true %}
                <div class="card-footer py-3 px-5 d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{{ path('SG.refus_demande_en_attente', {'id': demande_type.Id}) }}"
                       class="btn btn-warning btn">MODIFIER</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal pour les pièces jointes -->
    <div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="fileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileModalLabel">Liste des pièces jointes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for img in images %}
                            {% set extension = img.detDmPieceUrl|split('.')|last %}
                            <li>
                                {% if extension in ['jpg', 'jpeg', 'png', 'gif'] %}
                                    <!-- Affichage de l'image -->
                                    <img src="{{ asset('images/pieces/' ~ img.detDmPieceUrl) }}" alt="Pièce jointe"
                                         width="100">
                                {% elseif extension == 'txt' %}
                                    <!-- Affichage du contenu d'un fichier texte -->
                                    <a href="#"
                                       onclick="loadTextFile('{{ asset('images/pieces/' ~ img.detDmPieceUrl) }}')">Voir
                                        le fichier texte</a>
                                {% elseif extension in ['xls', 'xlsx'] %}
                                    <!-- Affichage d'un fichier Excel -->
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#excelModal"
                                       onclick="loadExcelPreview('{{ asset('images/pieces/' ~ img.detDmPieceUrl) }}')">Voir
                                        le fichier Excel</a>
                                {% elseif extension == 'pdf' %}
                                    <a href="#"
                                       onclick="loadPdfFile('{{ asset('images/pieces/' ~ img.detDmPieceUrl) }}')">Voir
                                        le fichier PDF</a>
                                {% else %}
                                    <!-- Fichier non pris en charge -->
                                    <p>Type de fichier non pris en charge</p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pour les fichiers Excel -->
    <div class="modal fade" id="excelModal" tabindex="-1" aria-labelledby="excelModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="excelModalLabel">Aperçu du fichier Excel</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- L'aperçu sera chargé ici -->
                    <div id="excel-preview"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal pour les fichiers texte -->
    <div class="modal fade" id="textModal" tabindex="-1" aria-labelledby="textModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="textModalLabel">Aperçu du fichier texte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <pre id="text-preview" style="color: black"></pre>
                    <!-- Utilisez <pre> pour préserver le formatage du texte -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pour les fichiers PDF -->
    <div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pdfModalLabel">Aperçu du fichier PDF</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe id="pdf-preview" style="width: 100%; height: 70dvh;" frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        // Fonction pour charger le contenu d'un fichier texte
        function loadTextFile(filePath) {
            fetch(filePath)
                .then(response => response.text())
                .then(data => {
                    // Affiche le contenu du fichier texte dans le modal
                    var textModal = new bootstrap.Modal(document.getElementById('textModal'));

                    document.getElementById('text-preview').textContent = data;
                    textModal.show();
                })
                .catch(error => console.error('Erreur lors du chargement du fichier texte :', error));
        }


        // Fonction pour charger un aperçu d'un fichier Excel
        function loadExcelPreview(filePath) {
            fetch(filePath)
                .then(response => response.arrayBuffer())
                .then(data => {
                    var workbook = XLSX.read(data, {type: 'array'});
                    var sheetName = workbook.SheetNames[0];
                    var sheet = workbook.Sheets[sheetName];
                    var html = XLSX.utils.sheet_to_html(sheet);
                    // Mettre à jour le contenu du modal avec l'aperçu
                    document.getElementById('excel-preview').innerHTML = html;
                })
                .catch(error => console.error('Erreur lors du chargement du fichier Excel :', error));
        }

        function loadPdfFile(filePath) {
            document.getElementById('pdf-preview').src = filePath;
            var pdfModal = new bootstrap.Modal(document.getElementById('pdfModal'));
            pdfModal.show();
        }
    </script>
{% endblock %}
