{% extends 'base.html.twig' %}

{% block title %}BFM Application de comptabilité en intranet{% endblock %}
{% block page_title %}
    Journal de caisse
{% endblock %}
{% block page_subtitle %}
    Cette page regroupe tous les éléments du journal pour l'exercice encours.
{% endblock %}

{# Bouton d'action #}
{% block page_options %}
    <a href="{{ path('export.journal') }}" class="btn btn-secondary">
        <span style="color: transparent">Imprimer</span>
        {{ ux_icon('flat-color-icons:print', {height: '60%'}) }}
    </a>
{% endblock %}

{% block page_main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Journal de caisse</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-hover">
                            {# Column #}
                            <thead>
                                <tr id="cols">
                                    <th id="isCol" scope="col">Date</th>
                                    <th id="isCol" scope="col">N° compte</th>
                                    <th id="isCol" scope="col">Intitulé du compte</th>
                                    <th id="isCol" scope="col">Débit</th>
                                    <th id="isCol" scope="col">Crédit</th>
                                </tr>
                            </thead>
                            {# Data #}
                            <tbody id="bodyList">
                                {% for mouvement in mouvements %}
                                    <tr>
                                        <td id="date">{{mouvement.MvtEvenementId.EvnDateOperation|date('d/m/y')}}</td>
                                        <td id="compte">{{mouvement.MvtCompteId.CptNumero}}</td>
                                        <td id="libelle">{{mouvement.MvtCompteId.CptLibelle}}</td>
                                        <td id="debit" class="text-end">{{ mouvement.IsMvtDebit ? mouvement.MvtMontant|number_format(2, '.', ' ') : 0 }}</td>
                                        <td id="credit" class="text-end">{{ mouvement.IsMvtDebit ? 0 : mouvement.MvtMontant|number_format(2, '.', ' ') }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script></script>
{% endblock %}