{% extends 'base.html.twig' %}

{% block title %}Upload des documents justificatifs{% endblock %}

{% block page_title %}
   Section Demandeur
{% endblock %}
{% block page_subtitle %}
    Bien vérifier avant de valider : les pièces justificatives et le montant réel de la dépense.
{% endblock %}

{% block page_main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Formulaire d'ajout de PJ et de saisie du montant exacte d'une dépense</h4>
                </div>
                <form id="formulaire" action="{{ path('dm.image', {'id': demande_type.Id}) }}"
                      enctype="multipart/form-data"
                      data-cancel="{{ path('SG.liste_demande_en_attente') }}">
                    <div class="card-body d-flex flex-column gap-2">
                        <div class="row col-12 d-flex flex-row mb-4">
                            <div class="col-6">
                                <label class="form-label"> Référence: </label>
                                <div class="border border-dark form-control">{{ demande_type.RefDemande }}</div>
                            </div>
                            <div class="col-6">
                                <label class="form-label"> Montant de la demande: </label>
                                <div class="border border-dark form-control form-control">
                                    {{ demande_type.DmMontant|number_format(2, '.', ' ') }} Ar
                                </div>
                            </div>
                        </div>
                        <div class="row col-12 d-flex flex-row">
                            <div class="col-12 d-flex flex-column">
                                <label for="montantR" class="form-label fw-bold"> Montant dépensé </label>
                                <div class="input-group mb-3">
                                    <input
                                            id="montantR"
                                            type="number"
                                            class="form-control"
                                            step="0.01"
                                            aria-label="Amount (to the nearest dollar)"
                                            name="montant_reel"
                                            value="{{ demande_type.DmMontant }}"
                                    />
                                    <span class="input-group-text">Ar</span>
                                </div>
                            </div>
                        </div>
                        <div class="row col-12 d-flex flex-row">
                            <div class="col-6">
                                <label class="form-label">Choix des fichiers</label>
                                <div class="col input-group">
                                    <label class="input-group-text" for="customFile">
                                        <i class="bi bi-file-earmark-image">Pièces jointes</i>
                                    </label>
                                    <input type="file" class="form-control visually-hidden"
                                        id="customFile" accept="image/*,.xls,.xlsx,.txt,.pdf"
                                        onchange="showFiles(this)" name="image[]" multiple>
                                    <button class="btn bg-dark-subtle" type="button"
                                            onclick="document.getElementById('customFile').click()">
                                        parcourir les documents
                                    </button>
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="form-label">
                                    Choix du type de fichier: 
                                </label>
                                <div>
                                    <div class="col-12">
                                        <label class="selectgroup-item">
                                            <input class="selectgroup-input" type="radio" name="type" value="proformat"
                                                checked="checked">
                                            <span class="selectgroup-button">
                                            PJ Proforma
                                            </span>
                                        </label>
                                        {% if proformat_existe %}
                                            <label class="selectgroup-item">
                                                <input class="selectgroup-input" type="radio" name="type"
                                                    value="bon_livraison">
                                                <span class="selectgroup-button">PJ bon de livraison</span>
                                            </label>
                                        {% endif %}

                                    </div>
                                    <span style="color: #939597;">(Importer le proforma avant le bon de livraison)</span>

                                </div>
                            </div>
                        </div>
                        <div class="" style="border-top: 1px solid #8f8d8d85; margin-top: 1rem;">
                            <div class="row" id="imagePreviews"style="margin-top: 2rem;"></div>
                        </div>
                    </div>
                    <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" id="annuler" class="btn btn-secondary">Annuler</button>
                        <button type="submit" id="valider" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Datatables -->
    {{ parent() }}
    <script src="{{ asset('js/scr/demande_piece/scr_form_pj.js') }}"></script>
{% endblock %}
