{% extends 'base.html.twig' %}

{% block title %}BFM Application de comptabilité en intranet{% endblock %}

{% block page_title %} Section Comptable {% endblock %}
{% block page_subtitle %}
    Les budgets qui ont été validés lors de la dernière assemblé pour l'exercice suivant.
{% endblock %}

{% block page_options %}
    <a href="{{ path('tresorier.form_budget') }}" class="btn btn-secondary">Ajouter un budget</a>
{% endblock %}

{% block page_main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Liste des budgets</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-striped table-hover">
                            <thead>
                            <tr class="col-12">
                                <th class="col">Date</th>
                                <th class="col">Compte</th>
                                <th class="col">Montant</th>
                                <th class="col">Type</th>
                                <th class="col">Exercice</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for budget in liste_budget %}
                                <tr class="col-12">
                                    <td class="col">{{ budget.BudgetDate|date('d/m/Y')|trans({}, 'fr') }}</td>
                                    <td class="col">{{ budget.CompteMere.CptNumero }}
                                        - {{ budget.CompteMere.CptLibelle }} </td>
                                    <td class="col text-end">{{ budget.BudgetMontant|number_format(0, '.', ' ') }} Ar
                                    </td>
                                    <td class="">{{ budget.BudgetType.Libelle }}   </td>
                                    <td class="">{{ budget.Exercice }}   </td>

                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Aucun donné inséré</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
