<li class="nav-section">
    <span class="sidebar-mini-icon">
    <i class="fa fa-ellipsis-h"></i>
    </span>
    <h4 class="text-section">Demandeur</h4>
</li>
<li class="nav-item">
    <a data-bs-toggle="collapse" href="#demande">
        <i class="fas fa-th-list"></i>
        <p>Gestion demande</p>
        <span class="caret"></span>
    </a>
    <div class="collapse" id="demande">
        <ul class="nav nav-collapse">
            <li>
                <a href="{{ path('demandeur.liste_demande') }}">
                    <span class="sub-item">Mes demandes : DM</span>
                </a>
            </li>
            <li>
                <a href="{{ path('demandeur.nouveau_demande') }}">
                    <span class="sub-item">Effectuer une demande</span>
                </a>
            </li>
            <li>
                <a href="{{ path('SG.liste_demande_en_attente') }}">
                    <span class="sub-item">Liste des demandes : SG</span>
                </a>
            </li>
            <li>
                <a href="{{ path('tresorier.liste_demande_en_attente') }}">
                    <span class="sub-item">Déblockage de fond</span>
                </a>
            </li>
        </ul>
    </div>
</li>
<li class="nav-item">
    <a data-bs-toggle="collapse" href="#piece">
        <i class="fas fa-th-list"></i>
        <p>Gestion de pièce jointe</p>
        <span class="caret"></span>
    </a>
    <div class="collapse" id="piece">
        <ul class="nav nav-collapse">
            <li>
                <a href="{{ path('dm_piece.liste_demande') }}">
                    <span class="sub-item">Ajout de pièce justificative</span>
                </a>
            </li>
        </ul>
    </div>
</li>