{% extends 'base.html.twig' %}

{% block title %}BFM Application de comptabilité en intranet{% endblock %}
{% block page_title %}Parametrer le plan de comptes à utiliser{% endblock %}
{% block page_subtitle %}Importer le fichier Excel contenant le plan de comptes du CE, modifier si besoin et vérifier avant l'insertion{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset("css/plan_compte/plan_cpt.css") }} /> 
{% endblock %}


{% block page_main_content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Remplissez les champs</div>
            </div>
            <form id="add_cpt_form">
                <div class="card-body">
                    <div class="row">
                        
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="compte-numero">Tapez le numéro du compte</label>
                                <input type="text" name="cpt_numero" class="form-control" id="compte-numero" placeholder="Numéro du compte"/>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="compte-libelle">Tapez le libellé du compte</label>
                                <input type="text" name="cpt_libelle" class="form-control" id="compte-libelle" placeholder="Libellé du compte"/>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" id="add-compte" class="btn btn-sm btn-label-secondary">Ajouter compte</button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 mb-3">
                                <label for="file-input">Insérer une pièce jointe</label>
                                <input class="form-control" type="file" id="file-input" accept=".xlsx" />
                            </div>
                            <div class="col-md-12">
                                <a href="{{ path('app_plan_compte') }}" class="btn btn-sm btn-dark">Annuler</a>
                                <button type="submit" id="add-plan" class="btn btn-sm btn-primary">Importer depuis Excel</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
        
<div class="modal" id="modal-edit">
    <!-- Azo apina class modal-dialog-scrollable dia lasa scrollena -->
    <div action="" class="modal-dialog modal-dialog-centered tablelist-form" autocomplete="off" id="formModalUpdate">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title formModalUpdate_title" id="exampleModalLabel">Fiche de mise à jour</h5>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <!-- Section dynamique par JS-->
                <div id="sectionUpdate">
                    <div class="form-group">
                        <label for="edit-numero">Modifier le numéro du compte</label>
                        <input type="text" class="form-control" id="edit-numero" placeholder="Numéro de compte">
                    </div>
                    <div class="form-group">
                        <label for="edit-libelle">Modifier le libellé du compte</label>
                        <input type="text" class="form-control" id="edit-libelle" placeholder="Libellé du compte">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button id="save-modif" class="btn btn-secondary">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>

</div>

    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <form id="form_save_compte" action="{{ path('app_plan_compte.save') }}" class="card-title">
                    Hiérarchie des comptes
                    <button type="submit" id="save-compte" class="btn btn-xs btn-primary">Sauvegarder</button>
                </form> 
            </div>
            <div class="card-body">
                <ul id="hierarchie-comptes"></ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/xhr.js") }}"></script>
    <script src="{{ asset("js/scr/plan_compte/plan_cpt.js") }}"></script>
    <script src="{{ asset("/js/plugin/xlsx/xlsx.full.min.js") }}"></script>
{% endblock %}
