{% extends 'base.html.twig' %}

{% block title %}BFM Application de comptabilité en intranet{% endblock %}

{% block page_title %}
    Section Comptable
{% endblock %}

{% block page_subtitle %}
    Les dépenses directement payées par le BFM seront ajoutées ici. À la validation de ce formulaire, l'événement sera comptabiliser.
{% endblock %}

{% block page_main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Ajout des dépenses directes</h4>
                </div>
                <form id="formulaire" action="{{ path('comptable.validation_depense_directe') }}" method="post">
                    <div class="card-body d-flex flex-column gap-2 py-5 px-5">
                        <div class="col-12 d-flex flex-row">
                            <label for="entite" class="col-3 form-control-lg">
                                Entité concernée
                            </label>
                            <div class="col">
                                <select name="entite" id="entite" class="form-select form-control">
                                    <option value="">Sélectionnez une entité</option>
                                    {% for entite in liste_entite %}
                                        <option value="{{ entite.Id }}">{{ entite.CptLibelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label for="transaction" class="col-3 form-control-lg">
                                Choix opération/type de transaction
                            </label>
                            <div class="col">
                                <select name="transaction" id="transaction" class="form-select form-control">
                                    <option value="">Sélectionnez une opération</option>
                                    {% for opperation in list_opp %}
                                        <option value="{{ opperation.Id }}">{{ opperation.TrsCode }} - {{ opperation.TrsLibelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label for="plan_compte" class="col-3 form-control-lg">
                                Compte n°
                            </label>
                            <div class="col">
                                <select name="plan_compte" id="plan_compte" class="form-select form-control">
                                    <!-- Options dynamiques insérées ici par JavaScript -->
                                </select>
                            </div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label for="montant" class="col-3 form-control-lg">Montant</label>
                            <div class="col">
                                <input class="form-control" type="number" id="montant" name="montant" step="0.01" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" id="annuler" class="btn btn-secondary">Annuler</button>
                        <button type="button" id="valider" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{ include('include/_message_modal.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/scr/comptable/scr_ajout_dep_direct.js') }}"></script>
{% endblock %}
