{% extends 'base.html.twig' %}

{% block title %}BFM Application de comptabilité en intranet{% endblock %}
{% block page_title %}
    Section Comptable
{% endblock %}
{% block page_subtitle %}
    {# Liste des demandes en attente de validation #}
{% endblock %}

{% block page_main_content %}
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">A propos de la transaction directe</h4>
                </div>
                <div class="card-body col-12 px-md-5 d-flex flex-row">
                    <div class="col-1">
                        <button style="border: none;background-color: transparent; text-align: start">
                            <a href="{{ path('comptable.suivi_comptabilisation') }}">
                                {{ ux_icon('heroicons:arrow-left-circle', {height: '60%', width:'75%',color:'#2a2f5b'}) }}
                            </a>
                        </button>
                    </div>
                    <div class="col px-3 d-flex flex-column gap-3">
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg"> Rérérence: </label>
                            <div class="col form-control"> {{ evenement.getEvnReference }} </div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg">Date d'opération: </label>
                            <div class="col form-control">
                                {{ evenement.getEvnDateOperation|date('d/m/y')|trans({}, 'fr') }}
                            </div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg"> Validateur de l'opération </label>
                            <div class="col form-control">
                                {{ evenement.getEvnResponsable.UserMatricule }}
                            </div>
                        </div>
                        <div class="col-12 d-flex flex-row">
                            <label class="col-4 form-control-lg">Type de transaction: </label>
                            <div class="col form-control">
                                {{ evenement.getEvnTrsId.getTrsLibelle }}
                            </div>
                        </div>
                        {# liste de comptes transactionnées #}
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="matricule">compte débité:</label>
                                <div class="col form-control">
                                    {{ list_mouvement[0].getMvtCompteId.CptNumero }} - {{ list_mouvement[0].getMvtCompteId.CptLibelle }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="matricule">montant débité:</label>
                                <div class="col form-control">
                                    {{ list_mouvement[0].getMvtMontant|number_format(0, '.', ' ') }} Ar
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="matricule">compte crédité:</label>
                                <div class="col form-control">
                                    {{ list_mouvement[1].getMvtCompteId.CptNumero }} - {{ list_mouvement[1].getMvtCompteId.CptLibelle }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="matricule">montant crédité:</label>
                                <div class="col form-control">
                                    {{ list_mouvement[1].getMvtMontant|number_format(0, '.', ' ') }} Ar
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/scr/comptable/scr_show_comptabilisation.js") }}"></script>
{% endblock %}
