{% extends 'base.html.twig' %}

{% block title %}Gestion des rôles: listes{% endblock %}

{# {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/gestion_utilisateur.css') }}">
{% endblock %} #}

{% block page_title %}
    Comptable
{% endblock %}
{% block page_subtitle %}
    {# Liste des demandes en attente de validation #}
{% endblock %}



{% block page_main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Liste des opérations pour suivi de comptabilisation</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-striped table-hover">
                            <thead>
                            <tr class="col-12">
                                <th class="col-3">Date</th>
                                <th class="col-1">Référence</th>
                                <th class="col-3">Type de transaction</th>
                                <th class="col-2 text-center px-3">Montant</th>
                                <th class="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for operation in list_operation_directe %}
                                <tr class="col-12">
                                    <td class="col-2">{{ operation.getEvnDateOperation|date('d/m/y')|trans({}, 'fr') }}</td>
                                    <td class="col-1">{{ operation.getEvnReference }}</td>
                                    <td class="col-4">{{ operation.getEvnTrsId.getTrsLibelle }}</td>
                                    <td class="text-end col-2">
                                        <div>
                                            {{ operation.getEvnMontant|number_format(0, '.', ' ') }} Ar
                                        </div>
                                    </td>
                                    <td class="col-2">
                                        <div class="col-12 d-flex gap-2">
                                            <div class="col">
                                                <a href="{{ path('comptable.suivi_comptabilisation_detail', {'id': operation.Id}) }}"
                                                   class="btn btn-secondary btn-sm">Voir detail</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">aucun opération directe inserer</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}