{% extends 'base.html.twig' %}

{% block title %}BFM Application de comptabilité en intranet{% endblock %}
{% block page_title %}Enregsitrement de nouvelle utilisateur{% endblock %}
{% block page_subtitle %}Back Office{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/xhr.js') }}" ></script>
    <script src="{{ asset('js/scr/scr_admin_add_user.js') }}" ></script>
{% endblock %}

{% block page_main_content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Remplissez ce formulaire</div>
            </div>
            <form id="add_user_form" action="{{ path('admin_save_user_test') }}" method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group mb-3">
                            <label for="matricule">Numéro matricule</label>
                            <input type="text" name="user_matricule" class="form-control" id="matricule" placeholder="Saisir un numéro matricule"/>
                            <small id="matricule_help" class="form-text text-muted">
                            Saisir le numéro matricule, exemple: 20024
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="formSelectGroupeAffectation">Choix du groupe d'affecttation</label>
                            <select name="id_groupe" class="form-select" id="formSelectGroupeAffectation"> 
                                {% for grp in groupes %}
                                    <option value="{{grp.id}}">{{grp.grpLibelle}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-action text-end">
                    <a href="{{ path('admin_users') }}" class="btn btn-dark">Annuler</a>
                    <button id="displayNotif" type="submit" class="btn btn-secondary">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}